/*--commons syles --*/
.p_r_0{
  padding-right: 0 !important;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-25 {
    margin-top: 25px;
}
.m-t-30{
 margin-top: 30px;   
}
.m-t-40{
  margin-top: 40px;
}
.m-t-80{
  margin-top: 80px;
}
.m-b-35{
  margin-bottom: 35px;
}
.m-b-40{
  margin-bottom: 40px;
}
a{
  text-decoration: none !important;
}
img{
    width: 100%;
}
/*--top nav --*/
body {
    background-color: #f5f6fa !important;
}

.top_fixed {
    background-color: #ffffff;
    display: flex;
    height: 59px;
    justify-content: space-between;
    align-items: center;
}
.header_left {
    background-color: #06af94;
    padding: 4px 0;
}
/*.header_left, .header_right {
    flex: 1;
}*/

.header_right {
    text-align: right;
    margin: 0 1em;
}
.header_right ul.dropdown_menu li {
    list-style: none;
}
.header_right ul.dropdown_menu li:hover .dropdown-item-holder, .dropdown-item-holder:hover{
    display: block;
}
.dropdown-item-holder {
    position: absolute;
    background-color: #ffffff;
    /*background-color:#06af94;*/
    right: 0;
    top: 40px;
    display: none;
    z-index: 1;
}

.logo_sec{
    padding: 5px;
    color: #fff;
    padding-right: 20px;
    padding-left: 10px;
    border: 1px solid #fff;
}

a.logo_holder {
    width: 180px;
    display: block;
    padding-left: 1.5em;
    background: #06af94;
}

a#sidebar_toggle:focus {
    box-shadow: none;
}



/*.user_img{
    width: 43px;
    padding: 5px;
    background-color: #fff;
    border-radius: 25px;
    float: right;
}*/
    
/*--sidebar navigation ------------
------------------------*/
/*#wrapper{
    position: relative;
}*/
#wrapper.toggled {
    padding-left: 180px;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}
#page-content-wrapper {
    position: relative;
    padding-bottom: 8em;
}
#page-content-wrapper .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}
#sidebar-wrapper {
    z-index: 1000;
    border-top: 1px solid #000000;
    position: absolute;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -180px;
    overflow-y: hidden;
    background: #06af94;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar a {
  display: block;
  margin-top: 2px;
  color: #83d7c9;
  padding: 15px 10px;
  text-decoration: none!important;
}

span.sidebar_icon>img {
    width: 25px;
}

#sidebar_toggle {
    position: absolute;
    top: -50px;
    left: -7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#sidebar_toggle i {
    font-size: 1.8em;
    color: #ffffff;
}
#sidebar_toggle:active {
    box-shadow: none;
}

.sidebar .Plan .Schedule .Progress .Summary{
  margin-top: 2px;
}

.sidebar .Template {
  margin-top: -2px;
} 
.sidebar a:first-child {
    margin-top: 0;
}
.sidebar a:hover, .sidebar a.active {
    background-color: #02957e;
    color: #ffffff;
}
.sidebar a .sidebar_icon>i {
    margin-right: 0.5em;
}

/*registration Page*/
.page_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 1.5em 0;
}
.page_heading>h2 {
    font-size: 2.3em;
    margin: 0;
}

.wizard {
    margin: 20px auto;
    width: 100%;
}

.wizard .nav-tabs {
    position: absolute;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom: none;
    width: 100%;
    justify-content: space-between;
}

.wizard > div.wizard-inner {
    position: relative;
    overflow: hidden;
    display: block;
    height: 185px;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #d8d8d8;
    border: 2px solid #ffffff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    color: #7f7f7f;
}
.wizard .nav-tabs > li a.active>span.round-tab {
    background-color: #00d362;
    color: #ffffff;
}

.wizard .nav-tabs > li {
    width: 33.33%;
    position: relative;
}
.wizard .nav-tabs > li:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    background: #d8d8d8;
    left: 50%;
    top: 50%;
}
.wizard .nav-tabs >li:last-child:after{
    content: none;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    display: block;
    position: relative;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.sign_up_form .form_title, .sign_in_form .form_title{
    text-align: center;
}
.sign_up_form .form_title>h3, .sign_in_form .form_title>h3 {
    font-weight: normal;
}
.sign_up_form {
    max-width: 850px;
    margin: 0 auto;
}
.sign_up_form a {
    color: #06af94;
}
.button_holder {
    text-align: center;
    padding: 1em 0;
}
.button_holder>.registration_btn {
    color: #ffffff;
    text-align: center;
    line-height: 1.8em;
    border-radius: 5px;
    border: none;
    padding: 0.4em 7em;
    background-color: #06af94;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px #00d362
}

.sign_in_page .wizard .nav-tabs > li.step_1:after, .sign_in_page .wizard .nav-tabs > li.step_1>a>.round-tab {
    background-color: #00d362;
}
.success_page .wizard .nav-tabs > li.step_1:after, .success_page .wizard .nav-tabs > li.step_2:after,
.success_page .wizard .nav-tabs > li.step_1>a>.round-tab, .success_page .wizard .nav-tabs > li.step_2>a>.round-tab  {
    background-color: #00d362;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard .nav-tabs{
        margin:47px 0;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
/*sign_in page*/
.sign_in_form {
    max-width: 500px;
    margin: 0 auto;
}

/*login page*/
.login-page #page-content-wrapper {
    height: 100vh;
}
.login-holder {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.login_text {
    text-align: center;
    color: red;
    font-size: 1.5em;
}

/*index page*/
.test_section {
    margin-top: 25px;
    height: calc(100% - 25px);
    background-color: #ffffff; 
}

.test {
    font-size: 28px;
    padding: 2em 0;
}

.test_img{
    width: 124px;
    padding: 20px;
    border-radius: 62px;
    border: 1px solid #ccc;
}

.row.inst_section {
    justify-content: space-between;
    margin: 1.5em 3em;
}
.inst_title h4 {
    font-size: 1em;
    font-weight: normal;
}
.inst_title.second {
    color: #de8c8c;
}
.inst_content {
    background-color: #f5f6fa;
    padding: 1em;
}

.jp_language {
    color: #5A5352;
    margin: 0 3em;
    margin-bottom: 5px;
}

.clasa{
  margin-left:3em;
  margin-right: 3em;
  margin-bottom:2em;
  color: #000;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
}


/*----Dashboard-----=
------------------------------
-----------------------------*/

#exTab1 {
    background-color: #ffffff;
}
#exTab1>.nav-pills {
    padding: 1em;
}
.pro_info{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 17px;
    font-family: sans-serif;
}
.pro_info>span>img, .progress_margin>span>img {
    width: 35px;
    margin-right: 0.5em;
}

.dash_footer>.total {
    border-right: 1px solid #7f7f7f;
    padding: 1.5em 1em;
    flex: 1;
    margin: 0;
}
.dash_footer>.total:last-child{
    border:none;
}

.dash_footer{
    border: 1px solid #7f7f7f;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}


 .nav-pills>li>a {
    border-radius: 20px;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
    margin-right: 5px;
    margin-top: 5px;
    color: #06af94;
    border: 1px solid #06af94;
  }
.nav-pills>li a.active {
    background-color: #06af94 !important;
    color: #ffffff;
}
.info {
    position: absolute;
    z-index: 9999;
    color: red;
    top: -15px;
    font-size: 22px;
    left: 45%;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.btn-success {
    color: #fff;
    background-color: #7ac143;
    border-color: #7ac143;

}
.queries{
    margin-left: 40px;
}

.progress_view {
    background-color: #ffffff;
    padding: 10px  15px;
}

.progressbar_holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}
.progressbar_holder .progress {
    height: 25px;
}

.progress_title {
    /*flex: 2;*/
}
.progress_size {
    flex: 3;
    margin-left: 15px;
}
.progressbar_holder .progress {
    border-radius: 0;
}
.hashtag {
    background-color: #06af94;
    color: #fff;
    font-size: 13px;
    padding: 3px 0;
    margin: 0 15px;
    width: 70px;
    display: inline-block;
    text-align: center;
}

.progress_margin {
    margin-bottom: 2em;
}

.letter {
    background-color: #06af94;
    color: #fff;
    font-size: 13px;
    width: 70px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 3px 0;
}

.progress_color{
  background-color: #06af94!important;
}

.progress_color1{
  background-color: #d9534f!important;
}

.progress_color2{  
  background-color: #7F7F7F!important;
}

.progress_vertical_holder {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.progress.progress-bar-vertical {
  width: 10px;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  border-radius: 0;
  margin:0 auto;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
.progress_vertical_holder {
    margin: 2em 0;
}


.envelope_area{
 float: right;
 margin-top: 25px;
 margin-right: 1px!important;
 margin-bottom: 5px;
}

.envelope_size{
  font-size: 28px!important;
}

/*menuscript registration page */

.create_btn_holder a {
    color: #000000;
    font-size: 14px;
    text-decoration: none !important;
}
.create_btn_holder a:hover{
  color: #ff9b8e;
}
.create_new_template {
    border: 1px solid #06af94;
    padding: 10px 30px;
    background-color: #06af94;
    box-shadow: 0px 2px 10px #06af94;
    color: #ffffff;
    border-radius: 4px;
    width: 230px;
    text-align: center;
}
.create_btn_holder {
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;
}

.new_template{
  margin-left: 6px;
}
.tem_sec_holder {
    margin: 40px 0 20px;
    padding: 15px 0;
    display: block;
}
.tem_text {
    position: relative;
}
.dest_temp_holder .card {
    border-radius: 4px;
}
/*.tem_sec h4:after {
    content: '';
    display: inline-block;
    width: 75%;
    height: 1px;
    background-color: #cccccc;
    position: absolute;
    top: 60%;
    margin-left: 15px;
}*/
#temp_carousel>.row {
    justify-content: space-around;
}

#temp_carousel .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;

}
/* The colour of the indicators */
#temp_carousel .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

#temp_carousel .carousel-indicators .active {
  background: #707070;
}
#temp_carousel .single_template {
    background-color: #fff;
    margin-left: 15px;
    margin-bottom: 1em;
}
.temp_content {
    padding: 1em;
    position: relative;
}
#temp_carousel .single_template .title h4 {
    margin-bottom: 15px;
}
#temp_carousel .carousel-item>.row {
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#temp_carousel .edit_icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
#temp_carousel .edit_icon a {
    color: #000000;
    font-size: 1em;
    padding: 0.5em;
}
div#temp_carousel nav {
    margin-top: 1em;
}
.temp_holder {
    padding: 1em 0;
}
.page-item.active .page-link {
    background-color: #ff9b8e;
    border-color: #ff9b8e;
}
a.page-link {
    color: #000000;
}
.input_box label>span {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.5em;
}

/*create destination start*/

.create_destination .main_content {
    padding: 25px 20px;
}
.main_content {
    position: relative;
}
.left-border{
  position: relative;
}
.success_progress_holder.progress-container {
    position: absolute;
    background-color: #000000d1;
    width: 100%;
    height: 100%;
    display: block;
    top: 59px;
    z-index: 99;
    display: none;.

}
.success_progress{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    transform: translate(-50%, 50%);
}

.s_message {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    transform: translate(-50%, 50%);
    color: white;
    text-align: center;
    font-size: 2em;
}

/*.left-border:before {
    content: '';
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: 17px;
    left: 0;
    width: 95%;
    z-index: -1;
    overflow: hidden;
}*/
.main_content h4, .delivery_setting h4, .request h4 {
    display: inline-block;
    z-index: 1;
    padding-right: 1em;
    margin-bottom: 1em;
}
.hashtag_title label {
    background: #7f7f7f;
    padding: 0.2em 1em;
    color: #ffffff;
    margin-right: 1.5em;
}
.input_box label img {
    width: 32px;
}
.csv_upload label span {
    width: 200px;
    min-height: 1.8em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    border: 1px solid darkgrey;
}
.create_destination .main_content .hashtag_title input, .main_content .csv_upload label>span {
    width: 750px;
    border: none;
    background-color: #ffffff;
    padding: 0.2em .5em;
}
.id_title label {
    vertical-align: middle;
    margin-right: 6.3em;
}
.csv_upload label strong, .img_reg_upload label strong {
    margin-right: 6.2em;
}
.csv_upload label strong, .csv_upload label span, .img_reg_upload label strong, .img_reg_upload label span {
    display: inline-block;
    vertical-align: middle;
}
.csv_upload .inputfile, .img_reg_upload .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.create_destination .main_content .hashtag_title input {
    height: 45px;
    max-width: 350px;
    border-radius: 20%/0px 100px 100px 0px;
    z-index: 9;
}
.create_destination .input_box span.input-group-text {
    background: white;
    border: none;
    z-index: 1;
    margin-left: -15px;
}
.hashtag_title span.input-group-text {
    background: #06af94 !important;
    color: #ffffff;
    padding: 0 2em;
    font-size: 1.2em;
}

.create_destination .radio_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 800px;
    margin: 2em 0;
}
.single_radio input {
    margin-bottom: 2em;
    margin-right: 1em;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 1em;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radiobtn {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #06af94;
    border-radius: 50%;
}
.checkcontainer .radiobtn:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin: 0;;
}
.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}
.checkcontainer input:checked ~ .radiobtn:after {
    display: block;
}

 .checkcontainer input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
 .radio-btn{
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
} 
.create_destination .form_buttons .p_btn {
    border-radius: 0;
    line-height: 1.2em;
    background-color: #06af94;
    border-color: #06af94;
    color: #fff;
}

.form_buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.form_buttons .p_btn {
    margin-right: 1em;
    text-align: center;
    line-height: 1.8em;
    border-radius: 20px;
    padding: 0.4em 2em;
    background-color: transparent;
    border: 1px solid #a8c5fd;
    color: #a8c5fd;
    cursor: pointer;
}
.form_buttons .p_btn:last-child{
    margin-right: 0;
}
.img_reg_upload {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
/*.btn_cancel {
    background-color: #000000;
}
.btn_done {
    background-color: #ec1818;
}*/

.create_destination .form_buttons {
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
    margin-top: 4em;
}
.envelope {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.envelope i {
    color: #ff9b8e;
    font-size: 2.5em;
}

.temp_result {
    min-height: 400px;
    max-width: 350px;
    margin: 0 auto;
    background-image: url(../img/phone.png);
    background-size: cover;
    position: relative;
}
.temp_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.create_form_sec {
    margin: 25px 0;
}
.create_form_sec h4 {
    font-size: 1.2em;
    font-weight: normal;
}
.create_form_sec .box_title {
    margin-bottom: 1.5em;
}
.create_form_sec textarea {
    height: 280px;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #ffffff;
}
span#count_message {
    border: 1px solid #cccccc;
    margin-top: 5px;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: .9em;
    color: #d00a0a;
}
/*Destination registration page*/

.dest_temp_holder {
    padding: 2em 0;
}

.dest_temp_holder .card-text i {
    margin-right: 5px;
}
.dest_temp_holder h5.card-title, .dest_temp_holder p {
    font-size: 1.5em;
    line-height: 2em;
}
.dest_temp_holder a.edit_icon {
    color: #000000;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
    font-size: 1.4em;
}
/*.dest_temp_holder .card-body:after {
    content: '';
    width: 50px;
    right: 0;
    height: 100%;
    position: absolute;
    display: block;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    border-top: 80px solid;
    top: 0;
}*/
.dest_temp_holder .card.deliverd .card-body:after {
    border-top-color: #5cb55c;
}
.dest_temp_holder .card.processing .card-body:after {
    border-top-color: #ff9b8e;
}
.dest_temp_holder .card.faild .card-body:after {
    border-top-color: #cccccc;
}
.dest_temp_holder .notfy_text {
    font-size: .7em;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}
.row.dest_temp_holder .img_holder {
    text-align: center;
}
.dest_temp_holder .title-area {
    position: relative;
}
.dest_temp_holder .card-text {
    padding: 1em 0;
    text-align: center;
}
.dest_temp_holder .card-text>p {
    font-size: 1.2em;
    line-height: 1.2em;
}

/*Delivery Setting page*/
.delivery_setting {
    padding: 2em;
}
span.in_divider {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.5em;
    margin: 0 0.5em;
}
.delivery_setting .input_box label {
    color: #7f7f7f;
}
.delivery_setting select {
    padding: 0.4em 1.5em;
    margin-top: -0.3em;
    border: none;
    background-size: cover;
    background-position: center;
    width: 325px;
    box-shadow: 1px 2px 10px #e2dede;
}
.dm_setting {
    display: flex;
}
.dm_setting .input_box {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.sc_settings .input_box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 1em;
}
.sc_settings .input_group {
    display: flex;
}
.sc_settings .input_box input {
    text-align: center;
    border: none;
    border-radius: 0;
    width: 300px;
    height: 45px;
    box-shadow: 1px 2px 10px #e2dede;
}
.sc_settings span.input-group-addon>i {
    line-height: 2.8em;
    padding: 0 .5em;
}
.sc_settings span.input-group-addon {
    background-color: white;
}
.delivery_setting select:focus {
    outline: none;
}
h5.sent_times {
    font-size: 2em;
    font-weight: bold;
    padding: 0 3em;
}
.ds_btn_holder {
    display: flex;
    justify-content: center;
}
button.ds_btn {
    border: 1px solid #06af94;
    padding: 10px 30px;
    background-color: #06af94;
    box-shadow: 0px 2px 10px #06af94;
    color: #ffffff;
    border-radius: 4px;
    width: 230px;
    text-align: center;
    margin-top: -40px;
}
.delivery_setting_page #page-content-wrapper {
    padding-bottom: 0;
}

/*analytics*/
.analytics .progress_view, .analytics #exTab1, .request #exTab1 {
    border: none;
    margin-top: 15px;
}
.analytics .progress_view h4 {
    margin-bottom: 1em;
}
.analytics .tab-content {
    margin-top: 2.5em;
}
.analytics .total {
    font-size: 20px;
    line-height: 28px;
}
.rect_box {
    padding: 2em;
}
.analytics .box_holder {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    max-width: 950px;
    margin: 0 auto;
    padding-top: 10em !important;
}
.analytics .progress_margin{
    margin: 0;
}
.analytics .progress_view {
    background-color: #ffffff;
    padding: 10px  15px;
}
.analytics .progressbar_holder{
    padding: 0;
}
.box_holder .rect_box {
    padding: 3em 2em;
    background-color: #ffffff;
    width: 165px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.box_holder .rect_box>h4 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box_holder .rect_box:after {
    content: '';
    position: absolute;
    display: block;
    border-left: 55px solid #c1c1c1;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    top: 50%;
    left: 110%;
    transform: translate(0,-50%);
    z-index: 3;
}
.box_holder .rect_box:last-child:after {
    display: none;
}

/*request page*/

.request {
    margin-top: 15px;
}
.request #exTab1 .tab-content {
    padding-top: 5em;
    padding-left: 3em;
}
.request {
    padding-top: 5em;
}
.request .dash_footer {
    border: none;
    background-color: #ffffff !important;
    margin-top: 3em;
    max-width: 800px;
    box-shadow: 1px 1px 12px #dcd9d9;
}
.request .total {
    font-size: 24px;
    line-height: 45px;
    font-weight: bold;
    display: inline-block;
    color: #c30303;
}
.request .total>ul {
    padding-left: 0;
    margin: 0;
}
.request .total>ul>li {
    list-style-type: none;
    text-align: left;
    color: #5a5a5a;
    display: flex;
    align-items: center;
}
.request .total>ul>li img {
    width: 50px;
    margin-right: 1em;
}
.request .total .last_request_list {
    text-align: right;
    border-top: 1px solid #5a5a5a;
    margin-top: 3em;
    color: #5a5a5a;
}
.request_upload {
    margin-top: 1em;
    text-align: right;
    max-width: 800px;
    display: block;
}
.request_upload input#file {
    display: none;
}
.request_upload .input_box label>span {
    margin: 0;
}
.request_select .input_box {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.request_select select {
    padding: 0.4em 1.5em;
    margin-top: -0.3em;
    border: none;
    box-shadow: 1px 2px 10px #e2dede;
}

.pagination li>a,.pagination li>span{
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    /*color: #007bff;*/
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination li.active>span{
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li:first-child,.pagination li:last-child{
   display: none;
}
.justify-content-center{
   margin-left: 450px;;
}

.preview_btn{
    margin-top: 50px;
    margin-left: 115px;
}

.envelope_area .envelope {
    bottom: -120px;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: #06af94 !important;    
}

.dropdown-item-holder{
    background-color: #06af94;
    border-radius: 4px !important;
}

/*responsive css*/
@media screen and (max-width: 1280px) {
    .temp_result {
        min-height: 330px;
    }
}
@media screen and (max-width: 1139px) {
    #temp_carousel .single_template {
        margin-left: 2px;
    }
    .form_buttons .p_btn, button.ds_btn {
        padding: 0.4em 2em;
    }
    .temp_result {
        min-height: 293px;
    }
    .box_holder .rect_box {
        padding: 2em .5em;
        width: 130px;
    }
}



@media screen and (max-width: 1023px) {
  .test_section {
      margin-right: 0px;
  }
  #exTab1, .test_section {
    margin-top: 15px;
  }
  
    .tem_sec h4:after{
        width: 55%;
    }

    .progressbar_holder{
        display: block !important;
    }
    .progress_title {
        margin-bottom: 1em;
    }
    .form_buttons .p_btn, button.ds_btn {
        padding: 0.2em 1em;
        margin-right: 0;
        margin-bottom: 1em;
    }
    .dest_temp_holder .card {
        margin: 0;
    }
    .dm_setting, .sc_settings .input_group{
        flex-wrap: wrap;
    }
    /*.box_holder .rect_box:after {
        top: 101%;
        left: 50%;
        transform: translate(-50%, 0%);
        border-bottom: none;
        border-right: 45px solid transparent;
        border-left-color: transparent;
        border-top-color: #1717dc;
    }*/
    .box_holder .rect_box:after{
        content:none;
    }
}
@media screen and (max-width: 767px ) {
    #wrapper{
        position: relative;
    }
    #wrapper.toggled{
        padding: 0;
    }
    .progressbar_holder{
        flex-direction: column;
        text-align: start;
    }
    .progress_title {
        margin-bottom: 1em;
    }
    .tem_sec h4:after {
        width: 50%;
    }
    .dest_temp_holder .card {
        margin-bottom: 1em;
    }
    .request #exTab1 .tab-content {
        padding-left: 0em;
    }
    .hashtag_title span.input-group-text{
        padding: 0 1em;
    }
    .create_destination .main_content .hashtag_title input{
        width: 248px;
    }
    .create_destination .radio_list{
        flex-direction: column;
    }
    .create_destination .form_buttons {
        justify-content: flex-start;
    }

}
@media screen and (max-width:600px ){
    .form_buttons .p_btn, button.ds_btn{
        margin-right: 1em;
    }
}
@media screen and (max-width:425px ){
    .form_buttons .p_btn, button.ds_btn{
        margin-right: 0;
    }
    .analytics .progress_view h4{
        display: flex;
        width: 100%;
    }
}
@media screen and (max-width:375px ){
    .create_destination .main_content .hashtag_title input {
        width: 180px;
    }

    a.logo_holder {
        width: 135px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 135px;
    }
    /*#wrapper.toggled{
        padding-left: 135px;
    }*/
    #sidebar-wrapper{
        left: 135px;
        margin-left:-135px;
    }
    .header_left {
        padding: 11px 0;
    }    
    .sc_settings .input_box input{
        width:280px;
    }
}
@media screen and (max-width:320px ){
    .sc_settings .input_box input {
        width: 238px;
    }
    .delivery_setting select{
        width: 270px;
    }
    .request .total>ul>li {
        line-height: 1.2em;
        margin-bottom: 1em;
    }
}
/*ie specific styles*/
select::-ms-expand {
    display: none;
}

@media screen and (max-width: 1140px ) and ( min-width: 1024px) {
  .progressbar_holder{
        display: block !important;
  }
  .progress_title {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 1600px) {
    
    
}
@media screen and (min-width: 1140px) {
    #page-content-wrapper .container-fluid {
        padding-left: 50px;
        padding-right: 25px;
        padding-top: 25px    }
}


@media screen and (min-width: 1024px) {
    
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}
@media screen and (min-width: 768px) {
    #sidebar_toggle {
        display: none;
    }
}
